<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>欢迎登陆while管理平台</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'metisMenu/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'sb-admin-v2/css/sb-admin-2.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
        <!-- jQuery -->
        <script src="{% static 'jquery/jquery-1.10.1.js' %}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="{% static 'metisMenu/metisMenu.min.js' %}"></script>

        <!-- Custom Theme JavaScript -->
        <script src="{% static 'sb-admin-v2/js/sb-admin-2.min.js' %}"></script>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">请登陆</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" method = "post" action="{% url 'login' %}">
                            {% csrf_token %}
                            <fieldset>
                                <div class="form-group">
                                    <input id="phone" class="form-control" placeholder="手机号" name="phone" type="text" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="密码" name="password" type="password" value="">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" name="valide" type="hidden" value="{{ v_data }}">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">记住用户
                                    </label>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
{#                                <a id = "submit" href="index.html" class="btn btn-lg btn-success btn-block">登录</a>#}
                                <input id = "submit" type = "submit" class="btn btn-lg btn-success btn-block" value = "登录">
                                <br>
                                <span id = "error" style = "color: red;"></span>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        $(function () {
            $("#phone").blur(
               function () {
                   var phone = $("#phone").val();
                   if(phone){
                       $.ajax(
                           {
                               url:"/server/uservalid/?phone="+phone,
                               type:"get",
                               data:"",
                               success:function (data) {
                                    var Data = data.data;
                                    var statue = data.statue;
                                    if(statue == "error"){
                                         $("#error").text(Data);
                                         $("#submit").attr("disabled",true)
                                    }else{
                                         $("#error").text("");
                                         $("#submit").attr("disabled",false)
                                    }
                               },
                               error:function (error) {
                                    console.log(error)
                               }
                           }
                        );
                       $("#error").text("");
                       $("#submit").attr("disabled",false)

                   }
                   else {
                        $("#error").text("用户名不可为空");
                        $("#submit").attr("disabled",true)
                   }

               }
            )
        })
    </script>
</body>

</html>
